body {
    font-family: 'Merriweather', serif;
    margin: 0px;
}
section{
    display: flex;
}
.half-width{
    width: 100%;
}

.half-width img{
width: 80%;
padding-left: 10%;
padding-right: 10%;
padding-top: 5%;

}
h1{
    color: rgb(41, 192, 99);
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.header-color{
    color: rgb(41, 192, 99);
}
.span{
    color: darkgreen;
}
.top-banner{
    background-image: url(images/green.jpg);
}